/*  Bookstrap! */

// Base bootstrap for now
// Core variables and mixins
@import "bootstrap3/less/variables.less";

  //
  // Override Variables

  // Media queries breakpoints
  
  // Tiny screen / phone
  @screen-tiny:                30em;
  @screen-phone:               @screen-tiny;
  
  // Small screen / tablet
  @screen-small:               60em;
  @screen-tablet:              @screen-small;
  
  // Medium screen / desktop
  @screen-medium:              70em;
  @screen-desktop:             @screen-medium;
  
  // So media queries don't overlap when required, provide a maximum
  @screen-small-max:           (@screen-medium - 1);
  @screen-tablet-max:          @screen-small-max;
  
  // Large screen / wide desktop
  @screen-large:               80em;
  @screen-large-desktop:       @screen-large;
  
  
  // Grid system
  
  // Number of columns in the grid system
  @grid-columns:              12;
  // Padding, to be divided by two and applied to the left and right of all columns
  @grid-gutter-width:         30px;
  // Point at which the navbar stops collapsing
  @grid-float-breakpoint:     @screen-tablet;


@import "bootstrap3/less/mixins.less";

// Reset bootstrap3/less/
@import "bootstrap3/less/normalize.less";
@import "bootstrap3/less/print.less";

// Core Cbootstrap3/less/SS
@import "bootstrap3/less/scaffolding.less";
@import "bootstrap3/less/type.less";
@import "bootstrap3/less/code.less";
@import "bootstrap3/less/grid.less";

@import "bootstrap3/less/tables.less";
@import "bootstrap3/less/forms.less";
@import "bootstrap3/less/buttons.less";

// Components: common
@import "bootstrap3/less/component-animations.less";
@import "bootstrap3/less/glyphicons.less";
@import "bootstrap3/less/dropdowns.less";
@import "bootstrap3/less/list-group.less";
@import "bootstrap3/less/panels.less";
@import "bootstrap3/less/wells.less";
@import "bootstrap3/less/close.less";

// Componbootstrap3/less/ents: Nav
@import "bootstrap3/less/navs.less";
@import "bootstrap3/less/navbar.less";
@import "bootstrap3/less/button-groups.less";
@import "bootstrap3/less/breadcrumbs.less";
@import "bootstrap3/less/pagination.less";
@import "bootstrap3/less/pager.less";

// Components: Popovers
/* @import "bootstrap3/less/modals.less"; */
@import "bootstrap3/less/tooltip.less";
@import "bootstrap3/less/popovers.less";

// Components: Misc
/* @import "bootstrap3/less/alerts.less"; */
@import "bootstrap3/less/thumbnails.less";
@import "bootstrap3/less/media.less";
@import "bootstrap3/less/labels.less";
/* @import "bootstrap3/less/badges.less"; */
/* @import "bootstrap3/less/progress-bars.less"; */
/* @import "bootstrap3/less/accordion.less"; */
/* @import "bootstrap3/less/carousel.less"; */
/* @import "bootstrap3/less/jumbotron.less"; */

// Utility classes
@import "bootstrap3/less/utilities.less"; // Has to be last to override when necessary
@import "bootstrap3/less/responsive-utilities.less";

// Their docs, too! (for now)
@import "bootstrap3/docs/assets/css/docs.css";


/* COLORS */
@black: hsl(0, 0%, 25%);
@white: hsl(0, 0%, 98%);

/* HAX */
#TOC {
  width: 22em;
}
.bs-docs-sidebar .nav > li > a {
  padding: 0;
}

table {
  .table;
  .table-hover;
}

p {
  margin: 0 0 1em;
}

body, .bs-docs-docs, .bs-docs-container {
  max-width: 90em;
}

@media screen and (min-width: @grid-float-breakpoint) {
  body, .bs-docs-docs {
    padding-left: 28em;
    padding-right: 4em;
  }
}

@media screen and (min-width: @screen-large) {
  body, .bs-docs-docs {
    font-size: 14pt;
  }
}
/*
@media screen and (min-width: 1600px) {
  body {
    width: 72em;
    margin: 0 auto;
  }
}
*/

/* /HAX */

/* NAVBAR */
body, #TOC {
  padding-top: 6em;
}
@media screen and (min-width: 768px) {
  body, #TOC {
    padding-top: 4em;
  }
}

/* TYPO */
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 12pt;
  line-height: 1.5em;
  color: @black;
  background: @white;
}

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6
{
  margin-top: 0;
  margin-bottom: 1.2em;
/*   line-height: 2em; */

  &, & a {
    color: lighten(@black, 33%);
  }
  
  &.title {
    color: lighten(@black, 11%);
  }
}

h2, .h2 {
  font-size: 1.5em;
  margin-top: -0.2em;
}
h1, .h1 {
  font-size: 2em;
  margin-bottom: 1.47em;
}

h1.title, .h1.title {
  margin-top: -0.07em;
  font-size: 2.5em;
  margin-bottom: 1.07em;
}

p {
margin: 0 0 1.17em;
margin-top: -0.3em;
}

blockquote {
  padding: 1em 2em;
  margin: none;
  background: darken(@white, 6%);
}

/*
.author {
  font-weight: 200;
}
*/

#main {
  h1, h2, h3, h4, h5, h6, 
  .h1, .h2, .h3, .h4, .h5, .h6
   {
  	font-weight: 100;
  	line-height: 1em;
    margin-left: -1em;
  }

  header {  
    h1, h2, h3, h4, h5, h6, 
    .h1, .h2, .h3, .h4, .h5, .h6
     {
      margin-left: 0;
    }
  }
}
.footnoteRef {
  vertical-align: super;
  font-size: 0.6em;
  margin-left: 0.3em;
}

/* LAYOUT */
body {
  width: 72em;
/*   margin: 0 auto; */ /* for dev */
};

section, .bs-docs-section {
  padding-top: 2.8em;
  width: 36em;
}

/* TOC */

#TOC * {
	line-height: 1.5em; 
	list-style-position: outside;
	list-style: none;
	background-color: darken(@white, 6%)
}

#TOC ul {
/* 	-webkit-padding-start: 1.25em; */
/*   padding-left: 1em; */
  margin: 0;
  
  padding: 0 1em;
  
  ul {
    margin: 0 0 1em 1em;
  }
}

#TOC a {
  display: block;
  color: lighten(@black, 11%);
/*   padding: 4px 25px; */
}

#TOC > li > a {

  border-bottom: 0.2em solid transparent;

  &:hover, 
  &:focus {
    border-color: @black;
  }
}

/*
#TOC > ul:before {
	content: "Inhaltsverzeichnis\:";
	font-weight: normal;
	text-transform: uppercase;

}

*/
.toc-section-number, 
.header-section-number { 
	font-weight: 100;
/* 	hack */
  display: none;
}

#TOC ul li { 
	font-weight: 700;
}
#TOC ul li ul li { 
	font-weight: 400;
/* 	font-size: 0.85em; */
}

/* dont show 3rd level headings in TOC */
#TOC ul li ul li ul { 
/*
	display: none;
	visibility: hidden;
*/
}

/*  dont show emphasized text in TOC */
#TOC nav > * > em {
/*
	display: none;
	visibility: hidden;
*/
}


/* DEBUG */

/* @debuggridcolor: rgba(200, 0, 0, .5); */
@debuggridcolor: hsla(0, 0%, 0%, 10%);

/*
body.debug {

  &, & #TOC, & .navbar {
    background-size: 2em 2em;
    background-color: white;
    background-image: -webkit-linear-gradient(transparent 50%, @debuggridcolor 50%,  @debuggridcolor),
                      -webkit-linear-gradient(0deg, transparent 50%,  @debuggridcolor 50%,  @debuggridcolor);
    background-image: -moz-linear-gradient(transparent 50%, @debuggridcolor 50%, @debuggridcolor),
                      -moz-linear-gradient(0deg, transparent 50%, @debuggridcolor 50%, @debuggridcolor);
    background-image: linear-gradient(transparent 50%, @debuggridcolor 50%, @debuggridcolor),
                      linear-gradient(90deg, transparent 50%, @debuggridcolor 50%, @debuggridcolor);
    -pie-background: linear-gradient(transparent 50%, @debuggridcolor 50%, @debuggridcolor) 0 0 / 50px 50px,
                     linear-gradient(90deg, transparent 50%, @debuggridcolor 50%, @debuggridcolor) 0 0 / 50px 50px white;
    behavior: url(/pie/PIE.htc);
  }
}
*/

body.debug {

  &, & #TOC, & .navbar {
    background-size: 2em 2em;
    background-color: white;
    background-image: -webkit-linear-gradient(0deg, transparent 50%,  @debuggridcolor 50%,  @debuggridcolor);
    background-image: -moz-linear-gradient(0deg, transparent 50%, @debuggridcolor 50%, @debuggridcolor);
    background-image: linear-gradient(90deg, transparent 50%, @debuggridcolor 50%, @debuggridcolor);
    -pie-background: linear-gradient(90deg, transparent 50%, @debuggridcolor 50%, @debuggridcolor) 0 0 / 2em 2em white;
    behavior: url(/pie/PIE.htc);
  }
}


