/*  Bookstrap! */

/* TYPO */

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  line-height: 1.5em;
  color: @dark;
  background: @light;
  word-wrap: break-word;
}

a, a:hover, a:focus {
  color: @primary-color-text;
}

#content { 
  a, a:hover, a:focus {
    color: lighten(@dark, 15%);
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6
{
  margin-top: 2em;
  margin-bottom: 1em;
/*   line-height: 2em; */

  &, & a , #content & a {
    color: lighten(@dark, 33%);
    text-decoration: none;
  }
  
  a:hover, a:focus {
    text-decoration: underline;
  }
  
  &.title {
    color: lighten(@dark, 11%);
  }
  
  header & {
    margin-top: 0;
  }
  
  .footnoteRef {
    vertical-align: super;
    font-size: 0.6em;
    margin-left: 0.3em;
  }
  
  & + & {
    margin-top: 0;
  }
  
}

h2, .h2 {
  font-size: 1.5em;
  // margin-top: -0.2em;
}
h1, .h1 {
  font-size: 2em;
  // margin-bottom: 1.47em;
}

h1.title, .h1.title {
  font-size: 2.4em;
  // padding-top: 0.11em; // grid offset
  // line-height: 0.95em;  // grid offset
  // margin-bottom: 0.5em; // grid offset
}

header {
  margin-bottom: 3.6em;
  
  .date {
    font-size: 1em;
    text-transform: uppercase;
  }
}

p {
  margin-top: -0.4em;
  margin-bottom: 1.1em;
}

p {
  // margin: 0 0 1.17em;
  // margin-top: -0.3em;
  // text-indent: 0.5em; // nope
}

blockquote {
  padding: 1em 2em;
  margin: none;
  background: darken(@light, 6%);
}

q {
  quotes: "“" "”" "‘" "’";
}

q::before {
  content: "“";
}

q::after {
  content: "”";
}

.author {
  font-weight: 200;
}


#content {
  
  h3, h4, h5, h6, 
  .h3, .h4, .h5, .h6
   {
    // font-weight: 100;
  	line-height: 1em;
    // margin-left: -1em;
  }

  header {  
    h1, h2, h3, h4, h5, h6, 
    .h1, .h2, .h3, .h4, .h5, .h6
     {
      margin-left: 0;
    }
  }
}

figure {
  
  margin: 3em;
  
  figcaption {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

// CODE

pre,code {
  font-size: 1em;
}

pre {
  border: none;
  background: none;
  border: none;
  margin: 0;
  padding: 0 0 1em;
}

code {
  padding: 0.1em 0.2em;
  color: hsl(0, 0%, 30%);
  background-color: hsl(0, 0%, 94%);
}
