/*  Bookstrap! */

// # Layout
//  
// The layout is "mobile-first", like bootstrapv3.
// That means that the base css styles are targeted at small screens
// and we use media-spezific declaration to target bigger screens.
// 
// Also of note: All sizes are em-based, that means the complete layout
// is relative to the font size.


body {
  width: 100%;
  margin-top: 3em;
  font-size: 12pt;
  // navbar
  position: relative;
  padding-top: 2em;
  // no scrollbars
  overflow-x: hidden;
}

body, code, pre {
  font-size: 12pt;
}

header, #TOC, .container {
  margin-left: 2em;
  margin-right: 2em;  
}

.container {
  padding-bottom: 6em;
}

#TOC {
  display: block;
}

// element size variables
@page-margin: 4em;
@page-width: 36em;
@toc-width: 18em;

// target size variables
@min-width: (@page-width) + (1.25 * @page-margin);
@full-width: (@toc-width) + (@page-width) + (1.25 * @page-margin);


// if the screen has the minimum width to show a 'page', 
// apply basic layout
@media screen and (min-width: (@min-width)) {
 
  body {
    font-size: 12pt;
    margin-top: 3em;
  }
  
  header, #TOC, .container {
    margin-left: @page-margin;
    margin-right: @page-margin;  
    width: @page-width;
  }
  
}

// FIXME: kill navbar on mobile for now
.navbar {
  display: none;
  visibility: hidden;
}

// If there is enough space for a sidebar, 
// apply sidebar layout.
#split-layout() {
  
  // FIXME: kill navbar on mobile for now
  .navbar {
    display: box;
    visibility: inherit;
  }
  
  header, .container {
    margin-left: ((@toc-width) + (@page-margin));
  }
  
  #TOC {
    margin: 0 0 2em 0;
    top: 0;
    height:100%;
    width: @toc-width;
    position: fixed;
    overflow-y: scroll;

    border-right: 0.3em solid @dark;
    
    padding: (2.9em + 2em) 1em 4em; // 2em top for navbar + 2.9 for alignment to <header>
  }
	
}

// even bigger sidebars
#split-big1() {
  
  header, .container {
    margin-left: ((@toc-width) + (@page-margin) + 4);
  }
  
  #TOC {
    width: ((@toc-width) + 4);
  }
	
}

#split-big2() {
  
  header, .container {
    margin-left: ((@toc-width) + (@page-margin) + 8 + 1);
  }
  
  #TOC {
    width: ((@toc-width) + 8);
  }
	
}
