/*  Bookstrap! */

// # Layout

body {
  margin: 3em 1em;
};

#TOC {
  // visibility: hidden;
  // display: none;
  margin: 0 0 2em 0;
  width: 11em;
}

#sheet {
  width: 40em;
  padding-left: 4em;
  padding-right: 4em;
}


section {
  padding-top: 2.8em;
  // width: 36em;
}