/*  Bookstrap! */

/* TYPO */

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6
{
  margin-top: 0;
  margin-bottom: 1.2em;
/*   line-height: 2em; */

  &, & a {
    color: lighten(@dark, 33%);
  }
  
  &.title {
    color: lighten(@dark, 11%);
  }
}

h2, .h2 {
  font-size: 1.5em;
  margin-top: -0.2em;
}
h1, .h1 {
  font-size: 2em;
  margin-bottom: 1.47em;
}

h1.title, .h1.title {
  margin-top: -0.07em;
  font-size: 2.5em;
  margin-bottom: 1.07em;
}

p {
margin: 0 0 1.17em;
margin-top: -0.3em;
}

blockquote {
  padding: 1em 2em;
  margin: none;
  background: darken(@light, 6%);
}

/*
.author {
  font-weight: 200;
}
*/

#sheet {
  h1, h2, h3, h4, h5, h6, 
  .h1, .h2, .h3, .h4, .h5, .h6
   {
  	font-weight: 100;
  	line-height: 1em;
    // margin-left: -1em;
  }

  header {  
    h1, h2, h3, h4, h5, h6, 
    .h1, .h2, .h3, .h4, .h5, .h6
     {
      margin-left: 0;
    }
  }
}
.footnoteRef {
  vertical-align: super;
  font-size: 0.6em;
  margin-left: 0.3em;
}
